spring:
  application:
    name: fitnessActivity
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false
  data:
    mongodb:
      uri: mongodb://localhost:27017/fitnessActivity
      database: fitnessActivity
    rabbitmq:
      host: localhost
      port: 5672
      username: guest
      password: guest

server:
  port: 9003

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    acitivity.queue
  routing:
    activity.tracking